.github/**
.vscode/**
.vscode-test/**
node_modules/**
src/**
tests/**
out/**
scripts/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
tsconfig.*.json
package-lock.json
.eslintrc.*
.eslintignore
.prettier*
.gitignore
vsc-extension-quickstart.md
